<div class="services">
	<div class="container">
		<div class="services__title">Чем мы можем быть полезны?</div>
		<ul class="services__list">
			<li class="services__item">
				<div class="services-item">
					<a href="#map" class="services-item__label js-anim-scroll">
						<img src="{{src}}map-label.svg" alt="">
					</a>
					<div class="services-item__pic">
						<img src="{{src}}services-1.jpg" alt="" class="services-item__img">
					</div>
					<a href="/kranovaya-ploshchadka.html" class="services__link">
						<div class="services-item__content">
							<div class="services-item__title">
								Крановая площадка
							</div>
						</div>
					</a>
				</div>
			</li>
			<li class="services__item">
				<div class="services-item">
					<div class="services-item__pic">
						<img src="{{src}}services-2.jpg" alt="" class="services-item__img">
					</div>
					<a href="#" data-ajax="" data-url="ajax/form.html" class="services__link">
						<div class="services-item__content">
							<div class="services-item__title">
								Товары сельского
								хозяйства
							</div>
						</div>
					</a>
				</div>
			</li>
			<li class="services__item">
				<div class="services-item">
					<div class="services-item__pic">
						<img src="{{src}}services-3.jpg" alt="" class="services-item__img">
					</div>
					<a href="/fasovka.html" class="services__link">
						<div class="services-item__content">
							<div class="services-item__title">
								ФАСОВКА от 300 гр
								до 1 тонны
							</div>
						</div>
					</a>
				</div>
			</li>
			<li class="services__item">
				<div class="services-item">
					<div class="services-item__pic">
						<img src="{{src}}services-4.jpg" alt="" class="services-item__img">
					</div>
					<a href="/shcheben.html" class="services__link">
						<div class="services-item__content">
							<div class="services-item__title">
								Гранитный щебень
							</div>
						</div>
					</a>
				</div>
			</li>
			<li class="services__item">
				<div class="services-item">
					<a href="#map" class="services-item__label js-anim-scroll">
						<img src="{{src}}map-label.svg" alt="">
					</a>
					<div class="services-item__pic">
						<img src="{{src}}services-5.jpg" alt="" class="services-item__img">
					</div>
					<a href="#land-lease" class="services__link js-anim-scroll">
						<div class="services-item__content">
							<div class="services-item__title">
								Аренда земли
							</div>
						</div>
					</a>
				</div>
			</li>
			<li class="services__item">
				<div class="services-item">
					<a href="#map" class="services-item__label js-anim-scroll">
						<img src="{{src}}map-label.svg" alt="">
					</a>
					<div class="services-item__pic">
						<img src="{{src}}services-6.jpg" alt="" class="services-item__img">
					</div>
					<a href="#warehouse-rental" class="services__link js-anim-scroll">
						<div class="services-item__content">
							<div class="services-item__title">
								Аренда складов
							</div>
						</div>
					</a>
				</div>
			</li>
			<li class="services__item">
				<div class="services-item">
					<div class="services-item__pic">
						<img src="{{src}}services-7.jpg" alt="" class="services-item__img">
					</div>
					<a href="/vygruzka-vagonov.html" class="services__link">
						<div class="services-item__content">
							<div class="services-item__title">
								Выгрузка вагонов и ответственное хранение
							</div>
						</div>
					</a>
				</div>
			</li>
			<li class="services__item">
				<div class="services-item">
					<div class="services-item__pic">
						<img src="{{src}}services-8.jpg" alt="" class="services-item__img">
					</div>
					<a href="#" data-ajax="" data-url="ajax/form.html" class="services__link">
						<div class="services-item__content">
							<div class="services-item__title">
								Автомобильные
								весы 18м, 80тн
							</div>
						</div>
					</a>
				</div>
			</li>
			<li class="services__item">
				<div class="services-item">
					<div class="services-item__pic">
						<img src="{{src}}services-9.jpg" alt="" class="services-item__img">
					</div>
					<a href="#" data-ajax="" data-url="ajax/form.html" class="services__link">
						<div class="services-item__content">
							<div class="services-item__title">
								Железодорожные
								весы на 2 вагона
							</div>
						</div>
					</a>
				</div>
			</li>
		</ul>
	</div>
</div>