{% include 'head/head.html' %}

{% import "macros/macros.html" as check %}
{% import "macros/macros.html" as pic %}
<body>

<div class="wrapper" id="js-wrapper">
	
	<header class="header geometria">
		<div class="container">
			<div class="header__blocks">
				<div class="header__block">
					<div class="logo">
						<a href="/" class="logo__link">
							<img src="images/logo.svg" alt="" class="logo__pic">
						</a>
					</div>
					<!-- /.logo -->
				</div>
				<div class="header__block header__block_wide">
					<button class="hamburger" id="js-hamburger" aria-expanded="false">
						<span></span>
					</button>
					<div class="menu" id="js-menu" aria-expanded="false">
						<nav>
							<ul class="menu__list">
								
								<li class="menu__item">
									<a href="/#land-lease" class="menu__link"><span>Земля</span></a>
								</li>
								
								<li class="menu__item">
									<a href="kranovaya-ploshchadka.html" class="menu__link active"><span>Крановые площадки</span></a>
								</li>
								
								<li class="menu__item">
									<a href="vygruzka-vagonov.html" class="menu__link"><span>выгрузка вагонов</span></a>
								</li>
								
								<li class="menu__item">
									<a href="fasovka.html" class="menu__link"><span>фасовка</span></a>
								</li>
								
								<li class="menu__item">
									<a href="shcheben.html" class="menu__link"><span>щебень</span></a>
								</li>
								
								<li class="menu__item">
									<a href="tel:+79276784514" class="menu__link">
										<span class="header__phone">
											<svg width="9" height="13" viewBox="0 0 9 13"
											     xmlns="http://www.w3.org/2000/svg">
											<path
												d="M0.015753 3.34877C-0.033562 2.65004 0.121419 1.96176 0.531773 1.40817C0.88753 0.906305 1.35072 0.632221 1.90901 0.472047C2.37925 0.332533 2.68746 0.503478 2.82307 1.02628C3.0168 1.80789 3.29331 2.58955 3.3937 3.41252C3.4254 3.77483 3.19116 4.2871 2.93755 4.55093C2.30177 5.17688 2.43386 5.63239 2.91643 6.57977C3.06613 6.8852 3.30389 7.41323 3.76708 8.11216C4.24965 8.81628 4.50502 9.19422 5.12495 8.87363C5.81357 8.5272 6.31551 8.75 6.83506 9.30922C7.1873 9.71308 7.57476 10.06 7.927 10.4639C8.43598 11.0645 8.41309 11.4786 8.01506 11.9028C7.29826 12.6839 6.11475 12.9422 5.23416 12.419C4.74807 12.1341 4.26374 11.7612 3.87805 11.3263C2.1785 9.38977 0.952712 7.13778 0.21477 4.5962C0.0967696 4.16656 0.0421718 3.73178 0.015753 3.34877Z"/>
										</svg>
											+7 (927) 678-45-14
										</span>
									</a>
								</li>
							
							</ul>
						</nav>
						<div class="menu-bottom hidden-xl">
							<div class="footer__make">
								Сайт создан компанией: <a href="javascript:void(0);">WEDO</a>
							</div>
							<!-- /.footer__make -->
							<a class="footer__link" href="mailto:wedo@yandex.ru">
								<img src="images/mail-icon.svg" alt="">wedo@yandex.ru</a>
						
						</div>
					</div>
					<!--end menu-->
				
				</div>
			</div>
		</div>
	</header>
	
	
	
	<!-- WORKAREA -->
	<div class="page-head page-head_crane-site">
		<div class="page-head__content">
			<div class="page-head__text">
				Крановая площадка
			</div>
			<!-- /.page-head__text -->
			<button data-ajax="" data-url="ajax/kranovaya.html" class="page-head__btn btn">Получить консультацию</button>
		</div>
	</div>
	<!-- /.page-head -->
	
	<div class="text-block text-center">
		<div class="container">
			<div class="text-block__content xl-fsz-30 xs-fsz-20">
				Наша компания предлагает сотрудничество
				по временному и постоянному хранению грузов
				на нашей базе.
			</div>
			<div class="text-block__content xl-fsz-30 xs-fsz-20">
				Свяжитесь с нами:
				<a href="tel:+79276784514">
					+7 (927)-678-45-14
				</a>
			</div>
		</div>
	</div>
	
	{% include 'advantages/advantages-list-kranovaya-ploshchadka.html' %}
	
	<div class="services-jd">
		
		<div class="container">
			
			<div class="services-jd__row services-jd__row_reverse xs-pdt-30">
				
				<div class="services-jd__content">
					
					<div class="services-jd__title">
						Открытые площадки
					</div>
					
					<div class="services-jd__text">
						Компания "ГК ВЕЛЕС" предоставляет в аренду открытые площадки от 1 кв.м, холодные склады , а также любые виды отрытого хранения.
					</div>
					<!-- /.services-jd__text -->
					
					<div class="services-jd__text">
						Свяжитесь с нами по телефону:<br>
						<a href="tel:+79276784514">+7 (927)-678-45-14</a> или отсправьте заявку.
					</div>
					<!-- /.services-jd__text -->
					
					<a href=""
					   data-ajax=""
					   data-url="ajax/kranovaya.html"
					   class="services-jd__btn btn"
					   style="margin-top: 30px;"
					>Получить консультацию</a>
					<!-- /.services-jd__btn btn -->
				</div>
				<!-- /.services-jd__content -->
				<div class="services-jd__pic-wrap">
					<div class="services-jd__pic">
						<img data-src="images/services-jd.jpg" alt="" class="services-jd__img lazyloaded"
						     src="{{src}}open-areas.jpg">
						<!-- /.services-jd__img -->
					</div>
					<!-- /.services-jd__pic -->
				</div>
				<!-- /.services-jd__pic-wrap -->
			</div>
			<!-- /.services-jd__row -->
		
		</div>
		<!-- /.container -->
	
	</div>
	
	<!-- END WORKAREA -->

</div>
<!-- /.wrapper -->

<div class="footer" id="js-footer">
	
	<div class="container">
		
		<div class="footer__top">
			
			<div class="footer__top-top">
				<div class="logo">
					<a href="/" class="logo__link">
						<img src="{{src}}/logo.svg" alt="" class="logo__pic">
					</a>
				</div>
				
				<ul class="menu-footer__list">
					
					<li class="menu-footer__item">
						<a href="/#land-lease" class="menu-footer__link"><span>Земля</span></a>
					</li>
					
					<li class="menu-footer__item">
						<a href="kranovaya-ploshchadka.html" class="menu-footer__link active"><span>Крановые площадки</span></a>
					</li>
					
					<li class="menu-footer__item">
						<a href="vygruzka-vagonov.html" class="menu-footer__link"><span>выгрузка вагонов</span></a>
					</li>
					
					<li class="menu-footer__item">
						<a href="fasovka.html" class="menu-footer__link"><span>фасовка</span></a>
					</li>
					
					<li class="menu-footer__item">
						<a href="shcheben.html" class="menu-footer__link"><span>Щебень</span></a>
					</li>
					
					<li class="menu-footer__item">
						<a href="tel:+79276784514" class="menu-footer__link">
							<span class="header__phone">
								<svg width="9" height="13" viewBox="0 0 9 13" xmlns="http://www.w3.org/2000/svg">
									<path
										d="M0.015753 3.34877C-0.033562 2.65004 0.121419 1.96176 0.531773 1.40817C0.88753 0.906305 1.35072 0.632221 1.90901 0.472047C2.37925 0.332533 2.68746 0.503478 2.82307 1.02628C3.0168 1.80789 3.29331 2.58955 3.3937 3.41252C3.4254 3.77483 3.19116 4.2871 2.93755 4.55093C2.30177 5.17688 2.43386 5.63239 2.91643 6.57977C3.06613 6.8852 3.30389 7.41323 3.76708 8.11216C4.24965 8.81628 4.50502 9.19422 5.12495 8.87363C5.81357 8.5272 6.31551 8.75 6.83506 9.30922C7.1873 9.71308 7.57476 10.06 7.927 10.4639C8.43598 11.0645 8.41309 11.4786 8.01506 11.9028C7.29826 12.6839 6.11475 12.9422 5.23416 12.419C4.74807 12.1341 4.26374 11.7612 3.87805 11.3263C2.1785 9.38977 0.952712 7.13778 0.21477 4.5962C0.0967696 4.16656 0.0421718 3.73178 0.015753 3.34877Z"/>
								</svg>
								+7 (927) 678-45-14
							</span>
						</a>
					</li>
					
					<li class="menu-footer__item">
						<a class="menu-footer__link">
							<span class="header__phone">
								<svg width="9" height="13" viewBox="0 0 9 13" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M4.33333 13C4.33333 13 8.66667 7.86654 8.66667 4.875C8.66667 1.88346 6.72657 0 4.33333 0C1.9401 0 0 1.88346 0 4.875C0 7.86654 4.33333 13 4.33333 13ZM4.33333 7.04167C5.8291 7.04167 7.04167 5.8291 7.04167 4.33333C7.04167 2.83756 5.8291 1.625 4.33333 1.625C2.83756 1.625 1.625 2.83756 1.625 4.33333C1.625 5.8291 2.83756 7.04167 4.33333 7.04167Z"/>
								</svg>
								г. Казань, Складская 20
							</span>
						</a>
					</li>
				
				</ul>
			</div>
			<!-- /.footer__top-top -->
		
		</div>
		<!-- /.footer__top -->
		<div class="footer__bottom">
			<div class="footer__bottom-left">
				<div class="footer__make">
					Сайт создан компанией: <a href="javascript:void(0);">WEDO</a>
				</div>
				<!-- /.footer__make -->
				<a class="footer__link" href="mailto:wedo@yandex.ru"><img src="images/mail-icon.svg" alt="">wedo@yandex.ru</a>
			</div>
			<div class="footer__bottom-right">
				<div class="footer__dis">
					© 2018 « VELES»  Все права защищены.
				</div>
				<!-- /.footer__dis -->
			</div>
		</div>
		<!-- /.footer__bottom -->
	</div>
	<!-- /.footer__inner -->

</div>
<!-- /.footer -->

<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="js/script.min.js"></script>
<script type="text/javascript" src="js/polifils.js"></script>


<script src="https://yastatic.net/browser-updater/v1/script.js" charset="utf-8"></script>
<script>
	var yaBrowserUpdater = new ya.browserUpdater.init({
		"lang": "ru",
		"browsers": {
			"yabrowser": "15.12",
			"chrome": "54",
			"ie": "11",
			"opera": "41",
			"safari": "8",
			"fx": "49",
			"iron": "35",
			"flock": "Infinity",
			"palemoon": "25",
			"camino": "Infinity",
			"maxthon": "4.5",
			"seamonkey": "2.3"
		},
		"theme": "yellow"
	});
</script>


{% include 'connect/stylesheet.html' %}

</body>
</html>
