
//@font-face {
//	font-family: ProximaNova;
//	src: url(fonts/ProximaNova/ProximaNova-Bold.woff);
//	font-weight: 700;
//}
//
//@font-face {
//	font-family: ProximaNova;
//	src: url(fonts/ProximaNova/ProximaNova-Regular.woff);
//	font-weight: 400;
//}
//
//@font-face {
//	font-family: ProximaNova;
//	src: url(fonts/ProximaNova/ProximaNova-Light.woff);
//	font-weight: 300;
//}

@font-face {
	font-family: "sf-ui-display";
	src: url(fonts/sf-ui-display/sf-ui-display-heavy.woff);
	font-weight: 800;
}

@font-face {
	font-family: "sf-ui-display";
	src: url(fonts/sf-ui-display/sf-ui-display-bold.woff);
	font-weight: 700;
}

@font-face {
	font-family: "sf-ui-display";
	src: url(fonts/sf-ui-display/SFUIDisplay-Regular.woff);
	font-weight: 400;
}

@font-face {
	font-family: "sf-ui-display";
	src: url(fonts/sf-ui-display/sf-ui-display-light.woff);
	font-weight: 300;
}

@font-face {
	font-family: "sf-ui-display";
	src: url(fonts/sf-ui-display/sf-ui-display-thin.woff);
	font-weight: 200;
}