$font-family: "sf-ui-display", sans-serif;
$font-size: 18px;
$line-height: 1.45;
$color: #000000;
$font-weight: 400;

$colorLink: #000000;
$bgColor: #161616;
$grey: #EFF0F1;

//fonts
$sf: "sf-ui-display", sans-serif;