<div class="advantages advantages_main">
	<div class="container">
		<div class="advantages__title">Наши преимущества</div>
		<ul class="advantages__list">
			<li class="advantages__item">
				<div class="advantages-item">
					<div class="advantages-item__num">
						01
					</div>
					<div class="advantages-item__content">
						
						<div class="advantages-item__shadow">
							1
						</div>
						
						11,5 га площадь <br>
						базы
					</div>
				</div>
			</li>
			<li class="advantages__item">
				<div class="advantages-item">
					<div class="advantages-item__num">
						02
					</div>
					<div class="advantages-item__content">
						
						<div class="advantages-item__shadow">
							2
						</div>
						
						2 своих <br>
						тепловоза
					</div>
				</div>
			</li>
			<li class="advantages__item">
				<div class="advantages-item">
					<div class="advantages-item__num">
						03
					</div>
					
					<div class="advantages-item__content">
						
						<div class="advantages-item__shadow">
							3
						</div>
						
						Повышенный путь <br>
						для выгрузки <br>
						инертных грузов
					</div>
				</div>
			</li>
			
			<li class="advantages__item">
				<div class="advantages-item">
					<div class="advantages-item__num">
						04
					</div>
					<div class="advantages-item__content">
						
						<div class="advantages-item__shadow">
							4
						</div>
						
						8 км от <br>
						центра Казани
					</div>
				</div>
			</li>
			<li class="advantages__item">
				<div class="advantages-item">
					<div class="advantages-item__num">
						05
					</div>
					<div class="advantages-item__content">
						
						<div class="advantages-item__shadow">
							5
						</div>
						
						Возможность <br>
						выгрузки хопров <br>
						и сыпучих грузов
					</div>
				</div>
			</li>
			<li class="advantages__item">
				<div class="advantages-item">
					<div class="advantages-item__num">
						06
					</div>
					
					<div class="advantages-item__content">
						
						<div class="advantages-item__shadow">
							6
						</div>
						
						Железнодорожные <br>
						весы на 2 вагона
					</div>
				</div>
			</li>
			
			<li class="advantages__item">
				<div class="advantages-item">
					<div class="advantages-item__num">
						07
					</div>
					<div class="advantages-item__content">
						
						<div class="advantages-item__shadow">
							7
						</div>
						
						Автомобильные <br>
						весы 18 м на 80 тонн
					</div>
				</div>
			</li>
			<li class="advantages__item">
				<div class="advantages-item">
					<div class="advantages-item__num">
						08
					</div>
					<div class="advantages-item__content">
						
						<div class="advantages-item__shadow">
							8
						</div>
						
						3 пандуса для выгрузки <br>
						и загрузки крытых <br>
						вагонов и фур
					</div>
				</div>
			</li>
			<li class="advantages__item">
				<div class="advantages-item">
					<div class="advantages-item__num">
						09
					</div>
					
					<div class="advantages-item__content">
						
						<div class="advantages-item__shadow">
							9
						</div>
						
						Козловой <br>
						кран
					</div>
				</div>
			</li>
		</ul>
	</div>
	
</div>