<div class="advantages-list">
	<div class="container">
		<div class="advantages-list__title">Наши преимущества</div>
		<ul class="advantages-list__list">
			<li class="advantages-list__item">
				<div class="advantages-item">
					<div class="advantages-item__num">
						01
					</div>
					<div class="advantages-item__content">
						Автомобильные весы (18м, 80тн)
					</div>
				</div>
			</li>
			<li class="advantages-list__item">
				<div class="advantages-item">
					<div class="advantages-item__num">
						02
					</div>
					<div class="advantages-item__content">
						Ж/д весы на 2 вагона
					</div>
				</div>
			</li>
			<li class="advantages-list__item">
				<div class="advantages-item">
					<div class="advantages-item__num">
						03
					</div>
					<div class="advantages-item__content">
						Ж/д пути на 60 вагонов, 2 тепловоза
					</div>
				</div>
			</li>
			
			<li class="advantages-list__item">
				<div class="advantages-item">
					<div class="advantages-item__num">
						04
					</div>
					<div class="advantages-item__content">
						База 11,5 га, 8 км от центра города Казани
					</div>
				</div>
			</li>
			<li class="advantages-list__item">
				<div class="advantages-item">
					<div class="advantages-item__num">
						05
					</div>
					<div class="advantages-item__content">
						Повышенный путь
					</div>
				</div>
			</li>
			<li class="advantages-list__item">
				<div class="advantages-item">
					<div class="advantages-item__num">
						06
					</div>
					<div class="advantages-item__content">
						3 пандуса для выгрузки крытых вагонов, 3 пандуса для выгрузки и погрузки фур
					</div>
				</div>
			</li>
			
			<li class="advantages-list__item">
				<div class="advantages-item">
					<div class="advantages-item__num">
						07
					</div>
					<div class="advantages-item__content">
						Удобная транспортная развязка, хорошие подъездные дороги
					</div>
				</div>
			</li>
			<li class="advantages-list__item">
				<div class="advantages-item">
					<div class="advantages-item__num">
						08
					</div>
					<div class="advantages-item__content">
						Козловой кран (10 тн)
					</div>
				</div>
			</li>
			<li class="advantages-list__item">
				<div class="advantages-item">
					<div class="advantages-item__num">
						09
					</div>
					<div class="advantages-item__content">
						2500 м2 крановая площадка с возможностью увеличения до 4700 м2
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>