<div class="advantages-list">
	<div class="container">
		<div class="advantages-list__title">Наши преимущества</div>
		<ul class="advantages-list__list advantages-list__list_column">
			<li class="advantages-list__item">
				<div class="advantages-item">
					<div class="advantages-item__num">
						01
					</div>
					<div class="advantages-item__content">
						Выгрузка авто и ж/д транспорта
					</div>
				</div>
			</li>
			<li class="advantages-list__item">
				<div class="advantages-item">
					<div class="advantages-item__num">
						02
					</div>
					<div class="advantages-item__content">
						Асфальтированная крановая площадка 2500 м.кв с возможностью увеличения до 4700 м.кв
					</div>
				</div>
			</li>
			<li class="advantages-list__item">
				<div class="advantages-item">
					<div class="advantages-item__num">
						03
					</div>
					<div class="advantages-item__content">
						Козловой кран 10тн с возможностью установить
						дополнительный кран с большей грузоподъемностью
					</div>
				</div>
			</li>
			
			<li class="advantages-list__item">
				<div class="advantages-item">
					<div class="advantages-item__num">
						04
					</div>
					<div class="advantages-item__content">
						Автомобильные весы (18м, 80 тн), 3 пандуса для выгрузки крытых вагонов, 3 пандуса для выгрузки и погрузки фур
					</div>
				</div>
			</li>
			<li class="advantages-list__item">
				<div class="advantages-item">
					<div class="advantages-item__num">
						05
					</div>
					<div class="advantages-item__content">
						Ж/д весы на 2 вагона
					</div>
				</div>
			</li>
			<li class="advantages-list__item">
				<div class="advantages-item">
					<div class="advantages-item__num">
						06
					</div>
					<div class="advantages-item__content">
						Особые условия для производителей/оптовых продавцов продукции,
						которые принимают или отправляют товар ж/д транспортом, так же для
						арендаторов готовых задействовать 2/3 площадки на постоянной основе
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>